@{
    ViewBag.Title = "Home Page";
}



<div>
    <label class="control-label">Select File</label>
    <input id="input-2" type="file" class="file" multiple="true" data-show-upload="false" data-show-caption="true">

</div>